.drink {
  position: relative;
  width: calc(50% - 10px);
  margin-bottom: 30px;
}

.drinkContainerImage {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.drinkContainerImageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.drinkContainerImageContainerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: all 0.3s ease-in-out;
}

.drinkContainerImageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.drinkContainerImage:hover .drinkContainerImageOverlay {
  background-color: rgba(218, 218, 218, 0.2);
}

.drinkContainerName,
.drinkContainerSize {
  z-index: 2;
}

.drinkContainerName {
  position: absolute;
  top: 20px;
  left: 20px;
  transform: none;
  z-index: 100;
  text-align: left;
  width: auto;
}

.drinkContainerNameContainerText {
  color: #ffffff;
  font-size: 42px;
  font-weight: 400;
  line-height: 46px;
  text-transform: uppercase;
}

.drinkContainerSize {
  position: absolute;
  bottom: 110px;
  left: 20px;
  transform: none;
  z-index: 100;
  text-align: left;
  width: auto;
}

.drinkContainerSizeContainerButton {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  width: 100px;
  height: 55px;
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  transform: scaleY(0.85);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.drinkContainerSizeContainerButtonContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drinkContainerSizeContainerButtonContainerText {
  color: #0f0f0f;
  font-size: 29px;
  font-weight: 400;
  line-height: 40px;
}

.drinkContainerBottom {
  margin-top: 30px;
}

.drinkContainerBottomContainerOneText {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}

.drinkContainerBottomContainerTwo {
  margin-top: 15px;
  width: 100px;
  cursor: pointer;
}

.drinkContainerBottomContainerTwo:hover .drinkContainerBottomContainerTwoText {
  color: #666666;
}

.drinkContainerBottomContainerTwoText {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
