.homeChessboard {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    margin-top: -4px;
}

.homeChessboardContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.chessboardRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 15px;
}

.chessSquare {
    width: 15px;
    height: 15px;
}

.chessSquare-black {
    background-color: #000;
}

.chessSquare-white {
    background-color: #fff;
}
