@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Jaro:opsz@6..72&family=Staatliches&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Forum', cursive;
  overflow: auto;
  /* scrollbar-width: none; */
}

html {
  overflow: auto;
  /* scrollbar-width: none; */
}

/* body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
} */

a {
  text-decoration: none;
}

::selection {
  /* background-color: black;
  color: #EFE7D2; */
}



.staatliches-regular {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.jaro-regular {
  font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.geist-regular {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}